<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  		<typeAliases>
  			<typeAlias type="com.goott.Board2.model.Board" alias="Board"/>
  			<typeAlias type="com.goott.Board2.model.Category" alias="Category"/>
  			<typeAlias type="com.goott.Board2.model.School" alias="School"/>
  		</typeAliases>
  </configuration>
  
  