<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  		<typeAliases>
  			<typeAlias type="com.goott.Board2.model.FileDTO" alias="FileDTO"/>
  			<typeAlias type="com.goott.Board2.model.license" alias="license"/>
  			<typeAlias type="com.goott.Board2.model.CodeDTO" alias="codeDTO"/>
  			<typeAlias type="com.goott.Board2.model.ProfileDTO" alias="ProfileDTO"/>
  			<typeAlias type="com.goott.Board2.model.CareerDTO" alias="CareerDTO"/>
  			<typeAlias type="com.goott.Board2.model.EduDTO" alias="EduDTO"/>
  			<typeAlias type="com.goott.Board2.model.LicenseDTO" alias="LicenseDTO"/>
  			<typeAlias type="com.goott.Board2.model.UserDTO" alias="UserDTO"/>
  		</typeAliases>
  </configuration>
  
  